{
  "presets": ["es2015", "env", "react"],
  "plugins": [
    "transform-object-assign",
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "env": {
    "coverage": {
      "plugins": [
        [
          "istanbul"
        ]
      ]
    },
    "development": {
      "sourceMaps": "both",
      "plugins": [
        "transform-flow-strip-types"
      ]
    },
    "es": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-dev-warning",
        "transform-runtime",
        ["react-remove-properties", {"properties": ["test-id"]}],
        ["transform-react-remove-prop-types", {
          "mode": "wrap",
          "plugins": [
            "babel-plugin-transform-flow-strip-types"
          ]
        }]
      ]
   },
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-dev-warning",
        "transform-runtime",
        ["react-remove-properties", {"properties": ["test-id"]}],
        ["transform-react-remove-prop-types", {
          "mode": "wrap",
          "plugins": [
            "babel-plugin-transform-flow-strip-types"
          ]
        }]
      ]
   },
    "test": {
      "sourceMaps": "both",
      "plugins": [
        "transform-flow-strip-types",
        [
          "module-resolver",
          {
            "alias": {
              "reacting-calendar": "./src"
            }
          }
        ],
      ]
    }
  }
}
