table {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  border-color: grey;
  text-align: center;
  color: black;
  text-transform: uppercase;
  box-sizing: border-box;
  direction: ltr;
}

thead{
  vertical-align: middle;
}

th{
  cursor: pointer;
  padding: 0 5;
  width: 30px;
  height: 30px;
  font-size: 12px;
  font-weight: bold;
}

th.datepicker-switch{
  width: 145px;
}

tbody{
  vertical-align: middle;
}

td{
  padding: 0 5;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: none;
  font-size: 12px;
  cursor: pointer;
}

td.old{
  color: #999;
}


td.new{
  color: #999;
}

td.active{
  color: #fff;
  background-color: #0d90c0;
  border-color: #0d90c0;
}

span.month{
  width: 23%;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 1%;
  cursor: pointer;
  border-radius: 4px;
}

span.month.active{
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

span.year{
  width: 23%;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 1%;
  cursor: pointer;
  border-radius: 4px;
}

span.year.active{
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}
